* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    background-color: #D8B6A4;
}

h1 {
    color: white;
    font-size: 5em;
    font-weight: bold;
}

h4 {
    color: white;
    font-size: 2em;
}

#gal-insat {
    text-align: center;
}

h2 {
    font-size: 3em;
    font-weight: bold;
}

header {
    position: relative;
    height: 96vh;
    text-align: center;
    background: url("../assets/img/landing.png");
    background-size: cover;
    width: 90%;
    margin: 0 auto;

}

.bg-body-tertiary {
    background: transparent !important;

}


#landing-txt {
    position: relative;
    /*top: 100px;*/
    margin: auto;
    border: 15px solid #EEEBDD;
    padding: 50px 100px;
    width: fit-content;

}

#sign-up2 {
    position: relative;

    width: fit-content;
    margin: 0 auto;

    font-size: 2em;

    background-color: #EEEBDD;
    border-radius: 40px;
    font-weight: bold;
    transition-duration: 0.25s;

}

#sign-up2>a {
    color: #141E27;
    text-decoration: none;
    margin: 10px 20px;
}

#sign-up2:hover {
    border: none;
    transform: translateY(-10px);

}

#explore {
    position: relative;
    background-color: #630000;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1px 0px;
    font-size: 1.5em;
    font-weight: bold;
    transition-duration: 250ms;


}

#explore a {

    color: #EEEBDD;
    text-decoration: none;
}


#explore:hover {
    transform: translateY(10px);
}


.ctn-2 {
    width: 90%;
    margin: 0 auto;
    background-color: #EEEBDD;
    padding: 30px 100px;

}

.ctn-f {
    margin: 0 auto;
    padding-left: 10%;
    background-color: #630000;
}

#footer {
    border-top: 5px solid #141E27;
    background-color: #630000;
    text-align: center;
}

h5 {
    color: #EEEBDD;
    font-weight: bold;
}

.ctn-3 {
    color: #EEEBDD;
    text-align: left;
}

.ctn-3>a {
    color: #EEEBDD;
    text-decoration: none;
}

.icon {
    color: #EEEBDD;
    font-size: 50px !important;
    padding: 0px;
}

.fa-sm {
    color: #EEEBDD !important;
    font-size: 1.35em !important;
    margin: 10px;
}

.p-head {
    color: #141E27;
    font-weight: bold;
    font-size: 2.5em;
    margin: 20px 20px 0px 0px;
}

.p-sub {
    color: #141E27;

    font-size: 1.5em;
}

#a_propos_ctn>.row>.row {
    margin-right: 10px;
}

.num-info {
    color: #EEEBDD;
    font-weight: bold;
    font-size: 5em;

}


@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

#sections_ctn {
    text-align: center;
}

.sections {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin: 20px 20px;
    height: 200px;
    padding: 0px 10px 10px 10px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    overflow: hidden;

}


.sections span {
    font-weight: bold;
    color: #141E27;
    font-size: 1.1em;
    text-decoration: none;
}

.sections a {
    text-decoration: none;
}

.sections:hover,
.sections:focus,
.sections:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}