body {
    background: url('../assets/img/insat.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    
  }
  .form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
  }
  .form-container h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .form-container form {
    margin-top: 20px;
  }
 
  .custom-button {
    
    width: 150px;
    height: 50px;
    background-color: #630000;
    border-color:#EEEBDD; 
    color: white;
    border-radius: 50px;
  }
#password,#email,#nom,#prenom,#tel,#passwordConfirm,#agenda{


font-size: x-small;
font-weight: lighter;
  }
  #emailHelp2{
    font-size: x-small;
}
#title {
    
    font-weight: bolder;
    font-size: 35px;
    text-shadow: 4px 4px 4px #aaa;
  }


